[submodule "platform/ext/CMSIS"]
	path = platform/ext/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
[submodule "platform/nutekt-digital/modfx/tests/random-lfo"]
	path = platform/nutekt-digital/modfx/tests/random-lfo
	url = https://github.com/tokuhira/logue_RandomLFOTutorial.git
	branch = nutekt-digital
